In [1]:
def eea(u, v):
	u1 = 1
	u2 = 0
	u3 = u
	v1 = 0
	v2 = 1
	v3 = v
	while v3 != 0:
		q = u3 / v3
		t1 = u1 - q * v1
		t2 = u2 - q * v2
		t3 = u3 - q * v3
		u1 = v1
		u2 = v2
		u3 = v3
		v1 = t1
		v2 = t2
		v3 = t3
	return u1, u2, u3

In [3]:
eea(67,12)

(0, 1, 12)

In [8]:
from collections import deque

In [30]:
data = deque()

In [31]:
data.append(5)
data.append(6)

print(data[0])
print(data[1])

data[0] = 7
data[1] = 8

print(data[0])
print(data[1])

print(data)

5
6
7
8
deque([7, 8])

In [249]:
from collections import deque

r_array = deque()
q_array = deque()
s_array = deque()
t_array = deque()
i_array = deque()

def eea2_book (r0, r1):
    global r_array
    global q_array
    global s_array
    global t_array
    global i_array
    
    s0 = 1
    s1 = 0
    s_array.append(s0)
    s_array.append(s1)
    
    t0 = 0
    t1 = 1
    t_array.append(t0)
    t_array.append(t1)
    
    r_array.append(r0)
    r_array.append(r1)

    i = 1
    i_array.append(0) #i[0]
    i_array.append(1) #i[1]
    
    q0 = "-"
    q_array.append(q0)
    
    while (r_array[i] != 0):
     i = i + 1                                               #1.1
     i_array.append(i) #starts at i[1], always i = 2
     r_incr = r_array[i-2] % r_array[i-1]                    #1.2
     r_array.append(r_incr)                                  #1.2
     q_decr = (r_array[i-2] - r_array[i])/r_array[i-1]       #1.3
     q_array.append(q_decr)                                  #1.3
     #q_array[i-1] = q_decr                                   #1.3
     s_incr = s_array[i-2] - (q_array[i-1]*s_array[i-1])     #1.4
     s_array.append(s_incr)                                  #1.4
     t_incr = t_array[i-2] - (q_array[i-1]*t_array[i-1])     #1.5
     t_array.append(t_incr)                                  #1.5

    
    print("gcd(r0,r1) = r(i-1) = " + str(r_array[i-1]))       #2
    print("s = s(i-1) = " + str(s_array[i-1]))                #2
    print("t = t(i-1) = " + str(t_array[i-1]))                #2

In [252]:
print(i_array)
print(q_array)
print(r_array)
print(s_array)
print(t_array)
print(len(i_array))
print(len(q_array))
print(len(r_array))
print(len(s_array))
print(len(t_array))

deque([0, 1, 2, 3, 4, 5, 6])
deque(['-', '-', 5.0, 1.0, 1.0, 2.0, 2.0, '-'])
deque([67, 12, 7, 5, 2, 1, 0])
deque([1, 0, 1.0, -1.0, 2.0, -5.0, 12.0])
deque([0, 1, -5.0, 6.0, -11.0, 28.0, -67.0])
7
8
7
7
7

In [250]:
eea2_book(67,12)

gcd(r0,r1) = r(i-1) = 1
s = s(i-1) = -5.0
t = t(i-1) = 28.0

In [229]:
from IPython.display import display
from itertools import islice
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    "i": list(islice(i_array, 0,len(q_array))),
    "i-1": [x - 1 for x in list(islice(i_array, 0,len(q_array)))],
    "q(i-1)": q_array,
    "r(i)": list(islice(r_array, 0,len(q_array))),
    "s(i)": list(islice(s_array, 0,len(q_array))),
    "t(i)": list(islice(t_array, 0,len(q_array))),
})

# Display the DataFrame in a rich format
display(df)

   i  i-1 q(i-1)  r(i)  s(i)  t(i)
0  0   -1      -    67   1.0   0.0
1  1    0    5.0    12   0.0   1.0
2  2    1    1.0     7   1.0  -5.0
3  3    2    1.0     5  -1.0   6.0
4  4    3    2.0     2   2.0 -11.0
5  5    4    2.0     1  -5.0  28.0

In [232]:
q_array.append("-")

from IPython.display import display
from itertools import islice
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    "i": i_array,
    "i-1": [x - 1 for x in i_array],
    "q(i-1)": q_array,
    "r(i)": r_array,
    "s(i)": s_array,
    "t(i)": t_array,
})

# Display the DataFrame in a rich format
display(df)

   i  i-1 q(i-1)  r(i)  s(i)  t(i)
0  0   -1      -    67   1.0   0.0
1  1    0    5.0    12   0.0   1.0
2  2    1    1.0     7   1.0  -5.0
3  3    2    1.0     5  -1.0   6.0
4  4    3    2.0     2   2.0 -11.0
5  5    4    2.0     1  -5.0  28.0
6  6    5      -     0  12.0 -67.0

In [255]:
from collections import deque
import copy

# Create a deque with some elements
dq = deque([10, 20, 30, 40, 50])
print("Dequeue:", dq)

# Shift the deque to the left by 1 (rotate negative)
# rotate(1) shifts right, rotate(-1) shifts left
dq.rotate(-1)

# Copy the first element safely
first_element_copy = copy.deepcopy(dq[0])

# Output results
print("Shifted deque:", dq)
print("Copied first element:", first_element_copy)

shift_deque(dq, 1)  # Shift right by 1
print("Shift right by 1:", dq)

Dequeue: deque([10, 20, 30, 40, 50])
Shifted deque: deque([20, 30, 40, 50, 10])
Copied first element: 20

NameError: name 'shift_deque' is not defined

In [261]:
slice_part = list(islice(q_array, 0,len(i_array)))
print(slice_part)

slice_part = list(islice(q_array, 1, len(i_array)+1))
print(slice_part)

['-', '-', 5.0, 1.0, 1.0, 2.0, 2.0]
['-', 5.0, 1.0, 1.0, 2.0, 2.0, '-']

In [262]:
# Fix for i = 6
q_array.append("-")

# Shift elements from i = 0 (q-1) to i = 1 (q0)
#q_array.appendleft("-")

len(i_array)

from IPython.display import display
from itertools import islice
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    "i": i_array,
    "i-1": [x - 1 for x in i_array],
    "q(i-1)": q_array,
    "r(i)": r_array,
    "s(i)": s_array,
    "t(i)": t_array,
})

# Display the DataFrame in a rich format
display(df)

ValueError: All arrays must be of the same length

In [186]:
from collections import deque

r_array = deque()
q_array = deque()
s_array = deque()
t_array = deque()
i_array = deque()

def eea_book (r0, r1):
    global r_array
    global q_array
    global s_array
    global t_array
    global i_array
    
    s0 = 1
    s1 = 0
    s_array.append(s0)
    s_array.append(s1)
    
    t0 = 0
    t1 = 1
    t_array.append(t0)
    t_array.append(t1)
    
    r_array.append(r0)
    r_array.append(r1)

    i = 1
    i_array.append(i) #i[0]
    
    q0 = "undefined_in_the_book"
    q_array.append(q0)
    
    while (r_array[i] != 0):
     i = i + 1                                               #1.1
     i_array.append(i) #starts at i[1], always i = 2
     r_incr = r_array[i-2] % r_array[i-1]                    #1.2
     r_array.append(r_incr)                                  #1.2
     q_decr = (r_array[i-2] - r_array[i])/r_array[i-1]       #1.3
     q_array.append(q_decr)                                  #1.3
     s_incr = s_array[i-2] - (q_array[i-1]*s_array[i-1])     #1.4
     s_array.append(s_incr)                                  #1.4
     t_incr = t_array[i-2] - (q_array[i-1]*t_array[i-1])     #1.5
     t_array.append(t_incr)                                  #1.5

    
    print("gcd(r0,r1) = r(i-1) = " + str(r_array[i-1]))       #2
    print("s = s(i-1) = " + str(s_array[i-1]))                #2
    print("t = t(i-1) = " + str(t_array[i-1]))                #2

In [187]:
eea_book(67,12)

gcd(r0,r1) = r(i-1) = 1
s = s(i-1) = -5.0
t = t(i-1) = 28.0

In [159]:
idx = t_array.index(28)
print(idx)

idx = t_array[].index(28)

5

In [150]:
print(i_array)
print(q_array)
print(r_array)
print(s_array)
print(t_array)
print(len(i_array))
print(len(q_array))
print(len(r_array))
print(len(s_array))
print(len(t_array))

deque([1, 2, 3, 4, 5, 6])
deque(['undefined_in_the_book', 5.0, 1.0, 1.0, 2.0, 2.0])
deque([67, 12, 7, 5, 2, 1, 0])
deque([1, 0, 1.0, -1.0, 2.0, -5.0, 12.0])
deque([0, 1, -5.0, 6.0, -11.0, 28.0, -67.0])
6
6
7
7
7

In [177]:
print(i_array)
print(q_array)
print(r_array)
print(s_array)
print(t_array)
print(len(i_array))
print(len(q_array))
print(len(r_array))
print(len(s_array))
print(len(t_array))

from itertools import islice

slice_part = list(islice(r_array, 0, 6))
print(slice_part)

slice_part = list(islice(r_array, 0,len(i_array)))
print(slice_part)

deque([1, 2, 3, 4, 5, 6])
deque(['undefined_in_the_book', 5.0, 1.0, 1.0, 2.0, 2.0])
deque([67, 12, 7, 5, 2, 1, 0])
deque([1, 0, 1.0, -1.0, 2.0, -5.0, 12.0])
deque([0, 1, -5.0, 6.0, -11.0, 28.0, -67.0])
6
6
7
7
7
[67, 12, 7, 5, 2, 1]
[67, 12, 7, 5, 2, 1]

In [181]:
from IPython.display import display
from itertools import islice
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    "i": i_array,
    "q(i-1)": q_array,
    "r(i)": list(islice(r_array, 0,len(i_array))),
    "s(i)": list(islice(s_array, 0,len(i_array))),
    "t(i)": list(islice(t_array, 0,len(i_array))),
})

# Display the DataFrame in a rich format
display(df)
print(q_array[4])

   i                 q(i-1)  r(i)  s(i)  t(i)
0  1  undefined_in_the_book    67   1.0   0.0
1  2                    5.0    12   0.0   1.0
2  3                    1.0     7   1.0  -5.0
3  4                    1.0     5  -1.0   6.0
4  5                    2.0     2   2.0 -11.0
5  6                    2.0     1  -5.0  28.0

2.0

In [98]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.26.0 in /home/sage/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sage/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/sage/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /home/sage/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/sage/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 28.0 MB/s eta 0:00:0000:010:01
Installing collected packages: pandas
Successfully installed pandas-2.3.3

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [300]:
from collections import deque

r_array = deque()
q_array = deque()
s_array = deque()
t_array = deque()
i_array = deque()

def eea3_book (r0, r1):
    global r_array
    global q_array
    global s_array
    global t_array
    global i_array
    
    s0 = 1
    s1 = 0
    s_array.append(s0)
    s_array.append(s1)
    
    t0 = 0
    t1 = 1
    t_array.append(t0)
    t_array.append(t1)
    
    r_array.append(r0)
    r_array.append(r1)

    i = 1
    i_array.append(0) #i[0]
    i_array.append(1) #i[1]
    
    q_minus1 = "-"
    q_array.append(q_minus1)
    q0 = "-"
    q_array.append(q0)
    
    while (r_array[i] != 0):
     i = i + 1                                               #1.1
     i_array.append(i) #starts at i[1], always i = 2
     r_incr = r_array[i-2] % r_array[i-1]                    #1.2
     r_array.append(r_incr)                                  #1.2
     q_decr = (r_array[i-2] - r_array[i])/r_array[i-1]       #1.3
     q_array.append(q_decr)                                  #1.3
     q_array[i] = q_decr                                     #1.3 
        #Very important => Position 0, q(-1) = - since r(-2) doesn't exist
        # Position 1, q(0) = - since r(-1) doesn't exist
        # Position 2, q(1) = 5 since r(0) exists 
     s_incr = s_array[i-2] - (q_array[i]*s_array[i-1])     #1.4
        #Very important => Array q in the position q[2] = q(1) 
     s_array.append(s_incr)                                  #1.4
     t_incr = t_array[i-2] - (q_array[i]*t_array[i-1])     #1.5
        #Very important => Array q in the position q[2] = q(1)
     t_array.append(t_incr)                                  #1.5

    print("gcd(r0,r1) = r(i-1) = " + str(r_array[i-1]))       #2
    print("s = s(i-1) = " + str(s_array[i-1]))                #2
    print("t = t(i-1) = " + str(t_array[i-1]))                #2
    print("The inverse of " + str(r1) + " mod " + str(r0) + " is: " + str(t_array[i-1]))

In [301]:
eea3_book(67,12)

gcd(r0,r1) = r(i-1) = 1
s = s(i-1) = -5.0
t = t(i-1) = 28.0
The inverse of 12 mod 67 is: 28.0

In [302]:
print(q_array)

deque(['-', '-', 5.0, 1.0, 1.0, 2.0, 2.0])

In [303]:
from IPython.display import display
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    "i": i_array,
    "i-1": [x - 1 for x in i_array],
    "q(i-1)": q_array,
    "r(i)": r_array,
    "s(i)": s_array,
    "t(i)": t_array,
})

# Display the DataFrame in a rich format
display(df)

   i  i-1 q(i-1)  r(i)  s(i)  t(i)
0  0   -1      -    67   1.0   0.0
1  1    0      -    12   0.0   1.0
2  2    1    5.0     7   1.0  -5.0
3  3    2    1.0     5  -1.0   6.0
4  4    3    1.0     2   2.0 -11.0
5  5    4    2.0     1  -5.0  28.0
6  6    5    2.0     0  12.0 -67.0

In [287]:
print("Notes")
print("1 - Display math doesn't work with pandas table and it's difficul to make format table")
print("2 - Subscript works just for some numbers, doesnt work with letter i and special symbol -")    
print("3 - Decided to choose pandas to print the table")   
#a =  display(Math(' i ' " | " 'q_{i-1}' " | " 'r_{i}' " | " 's_{i}' " | " 't_{i}'))

Notes
1 - Display math doesn't work with pandas table and it's difficul to make format table
2 - Subscript works just for some numbers, doesnt work with letter i and special symbol -
3 - Decided to choose pandas to print the table

In [305]:
modp = 31
exp = 29
a = 5**exp

r_array.clear()
q_array.clear()
s_array.clear()
t_array.clear()
i_array.clear()
eea3_book(modp,a)

gcd(r0,r1) = r(i-1) = 1
s = s(i-1) = -3.0042663697273504e+19
t = t(i-1) = 5.0
The inverse of 186264514923095703125 mod 31 is: 5.0

In [306]:
print(q_array)

deque(['-', '-', 0.0, 6.008532739454701e+18, 1.0, 4.0, 6.0])

In [307]:
from IPython.display import display
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    "i": i_array,
    "i-1": [x - 1 for x in i_array],
    "q(i-1)": q_array,
    "r(i)": r_array,
    "s(i)": s_array,
    "t(i)": t_array,
})

# Display the DataFrame in a rich format
display(df)

   i  i-1                 q(i-1)                   r(i)          s(i)  t(i)
0  0   -1                      -                     31  1.000000e+00   0.0
1  1    0                      -  186264514923095703125  0.000000e+00   1.0
2  2    1                    0.0                     31  1.000000e+00   0.0
3  3    2  6008532739454700544.0                     25 -6.008533e+18   1.0
4  4    3                    1.0                      6  6.008533e+18  -1.0
5  5    4                    4.0                      1 -3.004266e+19   5.0
6  6    5                    6.0                      0  1.862645e+20 -31.0

In [309]:
a = 5**29 % 31 ; print(a)

25

In [310]:
from sage.all import GF, PolynomialRing, Matrix
F = GF(31); print(F)

Finite Field of size 31

In [311]:
for i in F: print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [312]:
inverse = 1/F(5)
print("Inverse of 5 mod 31: " + str(inverse))

Inverse of 5 mod 31: 25