Task 1

In [2]:
from sage.all import *

In [3]:
F = GF(7)
F

Finite Field of size 7

In [5]:
for i in F: print(i)

0
1
2
3
4
5
6

In [11]:
for i in range(7):
    for j in range(7):
     print(f"F({str(i)}) + F({str(j)}) = " + str(F(i) + F(j)) )

F(0) + F(0) = 0
F(0) + F(1) = 1
F(0) + F(2) = 2
F(0) + F(3) = 3
F(0) + F(4) = 4
F(0) + F(5) = 5
F(0) + F(6) = 6
F(1) + F(0) = 1
F(1) + F(1) = 2
F(1) + F(2) = 3
F(1) + F(3) = 4
F(1) + F(4) = 5
F(1) + F(5) = 6
F(1) + F(6) = 0
F(2) + F(0) = 2
F(2) + F(1) = 3
F(2) + F(2) = 4
F(2) + F(3) = 5
F(2) + F(4) = 6
F(2) + F(5) = 0
F(2) + F(6) = 1
F(3) + F(0) = 3
F(3) + F(1) = 4
F(3) + F(2) = 5
F(3) + F(3) = 6
F(3) + F(4) = 0
F(3) + F(5) = 1
F(3) + F(6) = 2
F(4) + F(0) = 4
F(4) + F(1) = 5
F(4) + F(2) = 6
F(4) + F(3) = 0
F(4) + F(4) = 1
F(4) + F(5) = 2
F(4) + F(6) = 3
F(5) + F(0) = 5
F(5) + F(1) = 6
F(5) + F(2) = 0
F(5) + F(3) = 1
F(5) + F(4) = 2
F(5) + F(5) = 3
F(5) + F(6) = 4
F(6) + F(0) = 6
F(6) + F(1) = 0
F(6) + F(2) = 1
F(6) + F(3) = 2
F(6) + F(4) = 3
F(6) + F(5) = 4
F(6) + F(6) = 5

In [13]:
for i in range(7):
    for j in range(7):
     print(f"F({str(i)}) x F({str(j)}) = " + str(F(i) * F(j)) )

F(0) x F(0) = 0
F(0) x F(1) = 0
F(0) x F(2) = 0
F(0) x F(3) = 0
F(0) x F(4) = 0
F(0) x F(5) = 0
F(0) x F(6) = 0
F(1) x F(0) = 0
F(1) x F(1) = 1
F(1) x F(2) = 2
F(1) x F(3) = 3
F(1) x F(4) = 4
F(1) x F(5) = 5
F(1) x F(6) = 6
F(2) x F(0) = 0
F(2) x F(1) = 2
F(2) x F(2) = 4
F(2) x F(3) = 6
F(2) x F(4) = 1
F(2) x F(5) = 3
F(2) x F(6) = 5
F(3) x F(0) = 0
F(3) x F(1) = 3
F(3) x F(2) = 6
F(3) x F(3) = 2
F(3) x F(4) = 5
F(3) x F(5) = 1
F(3) x F(6) = 4
F(4) x F(0) = 0
F(4) x F(1) = 4
F(4) x F(2) = 1
F(4) x F(3) = 5
F(4) x F(4) = 2
F(4) x F(5) = 6
F(4) x F(6) = 3
F(5) x F(0) = 0
F(5) x F(1) = 5
F(5) x F(2) = 3
F(5) x F(3) = 1
F(5) x F(4) = 6
F(5) x F(5) = 4
F(5) x F(6) = 2
F(6) x F(0) = 0
F(6) x F(1) = 6
F(6) x F(2) = 5
F(6) x F(3) = 4
F(6) x F(4) = 3
F(6) x F(5) = 2
F(6) x F(6) = 1

In [20]:
for i in range(7):
    try:
     print(f"Inversion of {str(F(i))} mod 7 is " + str(F(i)**-1) + " mod 7")
    except Exception as e:
     print(f"An exception occurred: Inversion of {str(F(i))} mod 7 doesn't exist")

An exception occurred: Inversion of 0 mod 7 doesn't exist
Inversion of 1 mod 7 is 1 mod 7
Inversion of 2 mod 7 is 4 mod 7
Inversion of 3 mod 7 is 5 mod 7
Inversion of 4 mod 7 is 2 mod 7
Inversion of 5 mod 7 is 3 mod 7
Inversion of 6 mod 7 is 6 mod 7

In [21]:
from IPython.display import display
import pandas as pd
from collections import deque

i_array = deque()
j_array = deque()
mult_array = deque()

for i in range(7):
    for j in range(7):
        i_array.append(F(i))
        j_array.append(F(j))
        mult_array.append(F(i) * F(j))

# Create a sample DataFrame
df = pd.DataFrame({
    "F(i)": i_array,
    "F(j)": j_array,
    "F(i) x F(j) mod 7": mult_array,
})

# Display the DataFrame in a rich format
display(df)

   F(i) F(j) F(i) x F(j) mod 7
0     0    0                 0
1     0    1                 0
2     0    2                 0
3     0    3                 0
4     0    4                 0
5     0    5                 0
6     0    6                 0
7     1    0                 0
8     1    1                 1
9     1    2                 2
10    1    3                 3
11    1    4                 4
12    1    5                 5
13    1    6                 6
14    2    0                 0
15    2    1                 2
16    2    2                 4
17    2    3                 6
18    2    4                 1
19    2    5                 3
20    2    6                 5
21    3    0                 0
22    3    1                 3
23    3    2                 6
24    3    3                 2
25    3    4                 5
26    3    5                 1
27    3    6                 4
28    4    0                 0
29    4    1                 4
30    4    2                 1
31    4    3                 5
32    4    4                 2
33    4    5                 6
34    4    6                 3
35    5    0                 0
36    5    1                 5
37    5    2                 3
38    5    3                 1
39    5    4                 6
40    5    5                 4
41    5    6                 2
42    6    0                 0
43    6    1                 6
44    6    2                 5
45    6    3                 4
46    6    4                 3
47    6    5                 2
48    6    6                 1